{% extends 'base.html.twig' %}

{% block title %}Edit Track{% endblock %}

{% block body %}
    <div class="card col-4 m-auto mt-5">
        <div class="card-body">
            <h1>Edit Track</h1>

            {{ include('track/_form.html.twig', {'button_label': 'Update'}) }}

            <a class="btn btn-primary" href="{{ path('app_track_index') }}">back to list</a>

            {{ include('track/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
